<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop List</title>
    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/shops.css">
</head>

<body>
<%- include ('partials/navbar.ejs',{user}) %>
<div class="body">
<h1>Search for keyword: <%- keyword %></h1>
<h3>Found <%=shops.length%> results</h3>
<div>
    <% for(let shop of shops){%>
    <a style="all:initial" href=<%=shop.link%>>
        <div class="shop-container">
            <h2><%= shop.name%></h2>
            <p>Link: <%=shop.link%></p>
            <p><strong>Location:</strong><%=shop.location%></p>
        </div>
    </a>
    <%};%>
</div>
</div>
</body>

</html>
